<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/dbaudit/app"
  "github.com/kyleu/dbaudit/app/controller/cutil"
  "github.com/kyleu/dbaudit/app/db"
  "github.com/kyleu/dbaudit/app/lib/filter"
  "github.com/kyleu/dbaudit/views/components"
  "github.com/kyleu/dbaudit/views/components/view"
) %}

{% func Table(models db.Connections, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("db", nil, ps.Logger).Sanitize("db") -%}
  <table>
    <thead>
      <tr>
        {%= components.TableHeaderSimple("db", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("db", "name", "Name", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("db", "icon", "Icon", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("db", "engine", "Engine", db.AllEngines.Help(), prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("db", "server", "Server", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("db", "database", "Database", "String text", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/db/{%= view.UUID(&model.ID) %}">{%= view.UUID(&model.ID) %}</a></td>
        <td><strong>{%= view.String(model.Name) %}</strong></td>
        <td>{%= view.String(model.Icon) %}</td>
        <td>{%s model.Engine.String() %}</td>
        <td>{%= view.String(model.Server) %}</td>
        <td>{%= view.String(model.Database) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="6">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
